.mai-header {
     background-color: aquamarine;
}
.second-heading{
    background-color: aquamarine;
}
.set1{
    color: brown;
}
.set2{
    color: brown;
}
.a1{
    background-color: aqua;
}
.a2{
    background-color: aqua;
}